<h1>Productos en tiempo real</h1>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Título</th>
      <th>Precio</th>
      <th>Código</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody id="product-list">
    {{#each products}}
      <tr id="product-{{id}}">
        <td>{{title}}</td>
        <td>${{price}}</td>
        <td>{{code}}</td>
        <td>{{stock}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/productsList.js"></script>